html {
  font-size: 10px;
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  height: 100vh;
}

#ConnectWallet {
  position: absolute;
  top: 30px;
  right: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#ConnectWallet button {
  background-color: #3f50b5;
  color: white;
  font-weight: bold;
  width: 350px;
}